*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1E2D3B;
}  
.contenitore {
  width: 1070px;
  height: 100%;
  margin: 0 auto;
}
@import "header";
@import "main";
@import "handlebars";
